a{
  color: #000 !important; 
}
p {
  font-family: Lato;
}
.greenline{
display: block;
background: green;
height: 6px;
}
.yellowline{
display: block;
background: yellow;
height: 4px;
}
.user{
  font-size: 12px !important;
}
.main {
    width: 50%;
    margin: 50px auto;
}
.main-search{
    background: #ccc;
    height: 500px;
}
.has-search .form-control {
    padding-left: 2.375rem;
    border-radius: 50px;
    border: 2px solid #2b2626;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;   
}
.list-sidebar{
  list-style: none;
}
.list-sidebar-item{
padding: 10px 0px;
color:#fff;
}
.sidebar{
  background: #000
}